*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #606060;
}

header{
  background-color: #F87D5F;
  height: 20vmin;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  font-size: clamp(8px,3vw,30px);
  text-decoration: none;
  color: white;
}

header a:hover {
  color: grey;
  transition-property:color;
  transition-duration: 0.5s;
}

header a , .graph{
  margin: 4%;
}

.graph:hover {
  background-color: grey;
  border-radius: 16px;
  transition: background-color;
  transition-duration: 0.5s;
}

.headtext{
  color: white;
  border: solid 1px #F86437;
  background-color: #F86437;
  width: 40%;
  height: 14vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(16px, 5vw, 50px);
  border-radius: 20px;
}



.Profile{
  display: flex;
  color: white;
  align-items: center;
}

.Profile p {
  font-size: clamp(10px,2vw,50px);
}

.Profile img {
  width: 8%;
  height: 8%;
  margin: 2%;
}

.AdmPanel{
  margin: 2%;
  border: solid #D9D9D9;
  border-radius: 28px;
  width: 75%;
  height: 115vmin;
  background-color:#D9D9D9 ;
  font-weight: bold;
}


.panel{
  border: solid black 1px;
  width: 70%;
  height: 92vmin;
  margin: 3%;
  padding: 2%;
}



footer{
  border: solid #484848 1px;
  background-color:#484848 ;
  color: white;
  height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 99.9%;
  bottom: -2;
}

.photos{
  display: flex;
  gap: 20%;
  margin: 2%;
}

.photos img{
  width: 20px;
  height: 20px;
}


.LogWindow{
  width: 50%;
}

.graph{
  width: 10%;
  height: 16vmin;
}
.closePopup {
  margin-bottom: 0.2vw;
  width: 10vw;
  height: 5vw;
  font-size: 2vw;
  border: solid rgb(255, 255, 255);
  background-color:rgb(209, 209, 209);
  color: black;
  text-align: center;
}
.popup {
  display: flex;
  flex:1;
  text-align: center;
  margin: center;
  border: solid rgb(255, 255, 255)0.2vw;
  border-radius: 19px;
  background: #a8a8a8;
  justify-content: center;
  flex-wrap: wrap;
  gap:10px;
  flex-direction: column;
}

.week, .days, .chart {
  flex-wrap: wrap;
  float:left;
  margin-top:0vw;
  width: 48%;
  font-size: 2vw;
  
}
.days{
  margin-right: 2vw;
}
.chart{
  width: 100%;
  font-size: 100%;
  flex-wrap: wrap;
}








