*{
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: #606060;
}

header{
  background-color: #F87D5F;
  height: 20vmin;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headtext{
  color: white;
  border: solid 1px #F86437;
  background-color: #F86437;
  width: 40%;
  height: 14vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(16px, 5vw, 50px);
  border-radius: 20px;
}



.Profile{
  display: flex;
  color: white;
  align-items: center;
}

.Profile p {
  font-size: clamp(10px,2vw,50px);
}

.Profile img {
  width: 8%;
  height: 8%;
  margin: 2%;
}

.AdmPanel{
  margin: 2%;
  border: solid #D9D9D9;
  border-radius: 28px;
  width: 75%;
  height: 115vmin;
  background-color:#D9D9D9 ;
  font-weight: bold;
}


.panel{
  border: solid black 1px;
  width: 70%;
  height: 92vmin;
  margin: 3%;
  padding: 2%;
}



footer{
  border: solid #484848 1px;
  background-color:#484848 ;
  color: white;
  height: 10vmin;
  display: flex;
  align-items: center;
  position: absolute;
  width: 99.9%;
  bottom: -2;
}

.photos{
  display: flex;
  gap: 20%;
  margin: 2%;
}

.photos img{
  width: 20px;
  height: 20px;
}


.LogWindow{
  width: 50%;
}









